/* ========= CONFIGURAÇÕES GERAIS ======== */

/* Estilo global do CORPO DA PÁGINA */
body {
    font-family: Arial, Helvetica, sans-serif; /* Fonte padrão do site */
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o preenchimento interno */
    color: #222; /* Define a cor do texto */
    background-color: #fff;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* Estilo aplicado aos TÍTULOS (h1,h2,h3) */
h1,h2,h3 {
    color: #1a4db3;
    text-align: center;
}

/* Estilo dos parágrafos */
p {
    line-height: 1.6; /* Altura das linhas */
    margin: 10px; /* Espaçamento entre paragrafos */
}

/* ======= CABEÇALHO E MENU ========= */
header {
    background-color: #1a4db3; /* Fundo azul */
    color:#fff; /* Texto branco */
    padding: 20px; /* Espaçamento vertical */
}

/* Logo principal do site */
.logo a {
    text-decoration: none; /* Remover sublinhado do link*/
    color:#fff; /* Cor do texto */
    font-size: 20px; /* Tamanho da fonte */
    font-weight: bold; /* Destaque em negrito */
}

/* Destaque da palavra "Educa" */
.logo span{
    color:darkorange; /* Cor de texto laranja */
}

/* Container do MENU */
.menu {
    text-align: center; /* Centraliza os links */
    margin-top: 10px; /* Espaçamento superior */
}

/* Estilo dos links do menu */
.menu a {
    color:#fff; /* Texto do link branco */
    text-decoration: none; /* Tira sublinhado do link */
    margin: 15px; /* Espaço lateral */
    font-weight: bold; /* Texto em negrito */
}

.menu a:hover{
    color:darkorange; /* Muda de cor ao passar o mouse */
}


/* ======= SEÇÃO PRINCIPAL ======== */
/* Área de destaque superior */
.hero {
    background-color: #f5f5f5; /* Funco cinza claro */
    text-align: center; /* Alinha texto no centro */
    padding: 60px 20px; /* Espaçamento interno */
}

/* Título da hero */
.hero h1 {
    font-size: 35px; /* Tamanho grande */
    color:#1a4db3; /* Título Azul */
}

/* Parágrafo da hero */
.hero p {
    font-size: 18px; /* Aumenta o tamanho */
    margin-bottom: 20px; /* Espaço abaixo */
}

/* RODAPÉ */
/* Área inferior fixa na página */
footer{
    background-color:#1a4db3;
    color:#f5f5f5;
    text-align: center;
    padding: 20px;
    font-size: 14px;

    margin-top: auto; /* empurra o rodapé para baixo automaticamente. */
}

/* Links dentro do Rodapé */
footer a{
    color: darkgoldenrod; /* Texto laranja */
    text-decoration: none; /* Sem sublinhado */
}